{% extends 'base.html.twig' %}
{% block title %}Ajouter une prestation{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/home.css') }}">

<body>
<h1>Ajouter une prestation</h1>
    <span>
        {{ form(formPrestation) }}
    </span>
</body>
{% endblock %}