{% extends 'base.html.twig' %}

{% block title %}Information{% endblock %}

{% block body %}
<h1 class="m-5">NOS AGENCES FINTECH ENERGY EN FRANCE</h1>

<h2 class="d-flex justify-content-center text-decoration-underline fw-bold success m-3">Notre agence de Mérignac</h2>
<div class="agencies d-flex justify-content-center align-items-center m-3">
    <div class="d-flex flex-column">
        <p class="fw-bold">Nous situer :</p>
        <p>Bâtiment 411</p>
        <p>10 boulevard Pierre Renaudet</p>
        <p>33700 Mérignac</p>

        <p class="fw-bold">Nous contacter :</p>
        <p>Tél. : 07 69 41 23 73</p>
        <p>E-mail : contact@fintechenergy.com</p>

        <p class="fw-bold">Nos horaires d’agence :</p>
        <p>Du lundi au vendredi de 8h à 18h</p>
    </div>
    <iframe class="map m-5"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2829.341061971679!2d-0.6691586845009516!3d44.83498717909857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54d9ee6f8efa27%3A0xfbc5b687a9b5824!2sAv.%20Henri%20Vigneau%2C%2033700%20M%C3%A9rignac!5e0!3m2!1sfr!2sfr!4v1650808970796!5m2!1sfr!2sfr"
        width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
</div>

<h2 class="d-flex justify-content-center text-decoration-underline fw-bold success m-3">Notre agence de Lille</h2>
<div class="agencies agency2 d-flex justify-content-center align-items-center m-3">
    <iframe class="map m-5"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2829.341061971679!2d-0.6691586845009516!3d44.83498717909857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54d9ee6f8efa27%3A0xfbc5b687a9b5824!2sAv.%20Henri%20Vigneau%2C%2033700%20M%C3%A9rignac!5e0!3m2!1sfr!2sfr!4v1650808970796!5m2!1sfr!2sfr"
        width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <div class="d-flex flex-column">
        <p class="fw-bold">Nous situer :</p>
        <p>Bâtiment 433</p>
        <p>5 rue Marc jodet</p>
        <p>59000 Lille</p>

        <p class="fw-bold">Nous contacter :</p>
        <p>Tél. : 07 85 24 57 85</p>
        <p>E-mail : contact@fintechenergy.com</p>

        <p class="fw-bold">Nos horaires d’agence :</p>
        <p>Du lundi au vendredi de 8h à 18h</p>
    </div>
</div>

<h2 class="d-flex justify-content-center text-decoration-underline fw-bold success m-3">Notre agence de Toulouse</h2>
<div class="agencies d-flex justify-content-center align-items-center m-3">
    <div class="d-flex flex-column">
        <p class="fw-bold">Nous situer :</p>
        <p>Bâtiment 415</p>
        <p>7, Rue Louis de Viscose</p>
        <p>33100 Toulouse</p>

        <p class="fw-bold">Nous contacter :</p>
        <p>Tél. : 07 79 45 24 75</p>
        <p>E-mail : contact@fintechenergy.com</p>

        <p class="fw-bold">Nos horaires d’agence :</p>
        <p>Du lundi au vendredi de 8h à 18h</p>
    </div>
    <iframe class="map m-5"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2829.341061971679!2d-0.6691586845009516!3d44.83498717909857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54d9ee6f8efa27%3A0xfbc5b687a9b5824!2sAv.%20Henri%20Vigneau%2C%2033700%20M%C3%A9rignac!5e0!3m2!1sfr!2sfr!4v1650808970796!5m2!1sfr!2sfr"
        width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
</div>

<h2 class="d-flex justify-content-center text-decoration-underline fw-bold success m-3">Notre agence de Caen</h2>
<div class="agencies agency4 d-flex justify-content-center align-items-center m-3">
    <iframe class="map m-5"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2829.341061971679!2d-0.6691586845009516!3d44.83498717909857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54d9ee6f8efa27%3A0xfbc5b687a9b5824!2sAv.%20Henri%20Vigneau%2C%2033700%20M%C3%A9rignac!5e0!3m2!1sfr!2sfr!4v1650808970796!5m2!1sfr!2sfr"
        width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <div class="d-flex flex-column">
        <p class="fw-bold">Nous situer :</p>
        <p>Bâtiment 423</p>
        <p>3 boulevard des nations</p>
        <p>14540 Caen</p>

        <p class="fw-bold">Nous contacter :</p>
        <p>Tél. : 07 59 47 28 77</p>
        <p>E-mail : contact@fintechenergy.com</p>

        <p class="fw-bold">Nos horaires d’agence :</p>
        <p>Du lundi au vendredi de 8h à 18h</p>
    </div>
</div>
{% endblock %}
