{% extends 'base.html.twig' %}

{% block title %}Choisir son profil{% endblock %}

{% block body %}
<body>
    <main>
        <h1 class="choice">Êtes vous un particulier ou un professionnel ?</h1>

        <section class="boxChoice">
            <div class="part">
                <a href="{{ path('addFormular', {'FormulaireStatus': 'particulier', 'titlePresta' : titlePresta}) }}">
                    <img src="{{ asset('asset/img/img_fond/image-particulier.png') }}" alt="image particulier"></a>
            </div>

            <div class="prof">
                <a href="{{ path('addFormular', {'FormulaireStatus': 'professionnel', 'titlePresta' : titlePresta}) }}">
                    <img src="{{ asset('asset/img/img_fond/image-federationProf.png') }}" alt="image professionnelle"></a>
            </div>
        </section>
    </main>
</body>
{% endblock %}
