{% extends 'base.html.twig' %}
{% block title %}Information{% endblock %}
{% block body %}

    <h1 class="m-5">Information</h1>

    <div class="d-flex flex-column text-center container">
        <div class="col-12">
            <h2 class="m-5">Avenir rénovations, spécialiste dans la rénovation tous corps d’état.</h2>
            <p>" Votre spécialiste de la rénovation tous corps d’état, Avenir Rénovations se développe sur le territoire national pour réaliser vos travaux de rénovation intérieure et extérieure, rénovation de salle de bains, installation de douche sécurisée et pose de dispositifs de traitement de l’eau.
            </p>

            <h2 class="m-5">Avenir rénovations, un service sur mesure !</h2>
            <p>Êtes-vous l’une de ces familles qui désirent lancer des travaux de rénovation ? En déléguant votre chantier à une entreprise renommée telle que
                Avenir rénovations, vous optez pour la sérénité. Une enseigne leader en France dans le domaine de la rénovation. Un seul interlocuteur
                pour le suivi de votre projet de A à Z, que vous ayez besoin d’effectuer la rénovation des menuiseries, du chauffage,
                de l’isolation ou pour d’autres travaux.</p>

            <h2 class="m-5">Protégez votre habitation vos bureaux, vos bâtiments avec Fintech Energy.</h2>
            <p>Vous êtes propriétaire d’une maison ou d’un appartement, vous pensez réaliser des travaux ? Contactez l’une de nos agences ! Rendre votre maison plus confortable, plus jolie, améliorer son isolation thermique."</p>
        </div>
        <div>
            La Transition Énergétique, facteur de compétitivité pour votre logement ou votre entreprise
        </div>
    </div>

    <div class="container">
        <div class="col-12">
            <h2 class="m-5">La Transition Énergétique, facteur de compétitivité pour votre entreprise</h2>
            <p>En France, les différents secteurs d’activité deviennent de plus en plus concurrentiels. Chaque entreprise cherche à attirer et fidéliser sa clientèle. La chasse à l’avantage concurrentiel est lancée :
                mais comment parvenir à réellement se différencier de ses concurrents pour assurer son développement lorsque l’on évolue dans le même secteur d’activité ?
            </p>
            <p>
                es entreprises se positionnent sur plusieurs créneaux : le Made in France, le recyclé/recyclable, les modes de communication, le fait main… Il y a quelques années, les structures présentes sur les réseaux sociaux se comptaient sur les doigts de la main.
                Aujourd’hui, il est extrêmement facile de communiquer rapidement sur internet. Alors pour se diversifier, il faut chercher ailleurs.
            </p>

            <h2 class="m-5">Et si la réponse était tout simplement d’optimiser votre consommation d’énergie ?</h2>
            <p>
                Aujourd’hui, les consommateurs sont de plus en plus sensibles à l’impact de leurs achats sur l’environnement. Ils sont nombreux à pratiquer le “zéro gaspi”,
                le “zéro déchet”, l’achat et la vente de biens d’occasion… Autant de nouvelles pratiques qui se démocratisent. Les nouvelles générations portent une attention particulière à l’impact environnemental de leurs achats.
                Elles se dirigent de plus en plus vers l’autoconsommation.
            </p>
            <p>
                Suite à cette prise de conscience des consommateurs, en tant que professionnels, se tourner vers l’écologie devient une nécessité. IKEA l’a bien compris, et s’est associé à Voltalia pour mettre en oeuvre le projet Solsträle.
                Le géant du mobilier vend désormais également des kits photovoltaïques. Vous pouvez les installer vous-même à votre domicile, ou votre entreprise !
            </p>
            <p>La Transition Énergétique devient aujourd’hui un enjeu-clé de la réussite de votre entreprise. Pour vous différencier de vos concurrents, osez le vert et la transparence !</p>
        </div>
    </div>

    <div class="container">
        <div class="col-12">
            <div>
                <h2 class="m-5">Un mix énergétique en mutation pour répondre à l’urgence environnementale</h2>
                <p>Pour chaque pays d’Europe, il existe un graphique appelé mix énergétique, qui définit les différentes sources d’énergie primaires qui y sont utilisées. En France, on observe une forte évolution de ce mix depuis quelques années. </p>
                <p>Si en 1980, la filière thermique (c’est-à-dire charbon, gaz naturel, produits pétroliers) était majoritaire (48,9% du mix énergétique français), les choses ont fortement changé. En 2019, cette part ne représente que 7,9%. Belle évolution, quand on sait également que les énergies renouvelables comptent désormais pour un quart de ce mix énergétique, contre 13,8% en 2010.</p>
                <p>Le plan de relance post-crise sanitaire de 2020 démontre les ambitions de la France pour rééquilibrer davantage le mix énergétique. Il démontre une volonté d’accélérer la transition énergétique. L’importance accordé au développement des énergies renouvelables, au large des côtes normandes et bretonnes, est un bel exemple. Le développement des bornes de recharge pour une mobilité douce en est un autre. </p>
            </div>

            <div>
                <h2 class="m-5">Quels critères prendre en compte pour choisir son énergie ?</h2>
                <p>Lors de la mise en place de la Transition Énergétique dans votre entreprise, vous avez le pouvoir de prioriser certaines énergies par rapport à d’autres. Cela permet d’augmenter leur poids dans le mix énergétique. Il est important de favoriser les énergies qui : </p>
                <ul class="d-flex flex-column">
                    <li>* émettent le moins de gaz à effet de serre et de déchets ;</li>
                    <li>* génèrent le plus d’emplois ;</li>
                    <li>* sont renouvelables ;</li>
                    <li>* favorisent le développement de l’économie locale.</li>
                </ul>
                <p>Aucune énergie n’est réellement “propre” : en France, 1 MWh produit dans une centrale nucléaire émet deux fois moins de CO2 qu’1 MWh produit par une éolienne. Le nucléaire engendre des déchets radioactifs qui, pour le moment, ne peuvent être recyclés. Les énergies renouvelables sont consommatrices de terres rares (éléments du Tableau Périodique des Éléments situés entre le numéro atomique 57 et le numéro 71, ainsi que le scandium et l’yttrium) :  ces dernières sont dispersées, ce qui les rend difficiles d’accès. L’AIE (Agence Internationale de l’Énergie) met d’ailleurs en garde contre un risque de pénurie des métaux rares.
                    Cette mise en garde concerne également la naissance de tensions géopolitiques associées.</p>
            </div>
            <div>
                <h2 class="m-5">Un cadre précis : la Loi Transition Énergétique</h2>
                <p>Depuis le 17 août 2015, la Loi relative à la Transition Énergétique pour la croissance verte régie les choix stratégiques des entreprises envers leur impact environnemental et sociétal. Les structures ont pris des engagements qui, parfois, nécessitent des changements majeurs dans leurs modes de production et/ou de fonctionnement. </p>
                <p>La Loi Transition Énergétique comporte plusieurs objectifs : </p>
                <ul class="d-flex flex-column">
                    <li>* Réduire de 40% les émissions de gaz à effet de serre en 2030, par rapport à 1990</li>
                    <li>* Réduire de 30% la consommation d’énergies fossiles en 2030, par rapport à 2012</li>
                    <li>* Porter la part des énergies renouvelables à 32% de la consommation finale d’énergie en 2030, et à 40% de la production d’électricité</li>
                    <li>* Réduire la consommation énergétique finale de 50% en 2050, par rapport à 2012</li>
                    <li>* Réduire de 50% les déchets mis en décharge à l’horizon 2025</li>
                    <li>* Diversifier la production d’électricité, et baisser la part du nucléaire à 50%
                    </li>
                </ul>
                <p>La mise en place de cette loi permet de cadrer précisément la lutte contre le réchauffement climatique et la gestion des déchets. Cette loi, combinée à l’arrivée du décret tertiaire en 2019, doivent ainsi inciter les entreprises (TPE, PME, industrie…) à réduire leur impact environnemental global. Les objectifs sont précis, et les acteurs engagés ont ainsi une visibilité accrue de ce qui doit être fait. Ces éléments doivent permettre de réduire rapidement l’usage des énergies fossiles et carbonées. </p>
            </div>
        </div>
    </div>
{% endblock %}