{% extends 'base.html.twig' %}

{% block title %}Information{% endblock %}

{% block body %}
<section class="container">
    <div class="col-12">
        <h1 class="m-5">Mention légales</h1>
        <div class="text-center">
            <p>Ce site a été conçu par l’agence EP COMMUNICATION (code SIRET 82359578000011, code NAF 6201Z) et
                développé par l’agence TOTEM, société dont le siège social est situé boulevard Louis Campi, Les Jardins
                de Bodiccione C1, 20090 Ajaccio, code SIRET 817 430 184 00017, code NAF 7021Z.</p>
        </div>
        <h2 class="m-5">L’annonceur</h2>
        <div class="text-center">
            <p>Ce site est édité et vous est proposé par SAS FINTECH ENERGY :</p>
            <p>Siège social : 10 boulevard Pierre Renaudet 33700 MERIGNAC</p>
            <p>Code SIRET : 820 018 125 00014</p>
            <p>Capital social de la société : 29 000 €</p>
            <p>TVA Intracommunautaire : FR42820018125</p>
            <p>Le site a pour vocation de vous fournir des informations sur l’annonceur et des liens vers différents
                sites internet. Le site est la propriété de l’annonceur.</p>
        </div>

        <h2 class="m-5">Respect des droits de propriété et marques</h2>
        <p>L’ensemble des éléments que vous voyez, que vous écoutez ou que vous lisez sur le site ainsi que le site est
            protégé par la législation sur le droit d’auteur. Vous ne pouvez en aucun cas utiliser, distribuer, copier,
            reproduire, modifier, dénaturer ou transmettre le site ou des éléments du site, tels que textes, images ou
            sons sans l’autorisation écrite et préalable de l’annonceur. Les marques et logos figurant sur le site, sont
            la propriété de l’annonceur ou font l’objet d’une autorisation d’utilisation. Aucun droit ou licence ne
            saurait être attribué sur l’un quelconque de ces éléments sans l’autorisation écrite de l’annonceur ou du
            tiers, détenteur des droits sur la marque ou logo figurant sur le site. L’annonceur se réserve le droit de
            poursuivre tout acte de contrefaçon de ses droits de propriété intellectuelle, y compris dans le cadre d’une
            action pénale.</p>

        <h2 class="m-5">Respect des images</h2>
        <p>Les images ou photographies de personnes ou de lieux figurant sur le site, sont la propriété de l’annonceur
            et/ou sont utilisées par l’annonceur avec l’accord des titulaires des droits. L’utilisation de ces images ou
            photographies est interdite sans autorisation spécifique et expresse de l’annonceur. Toute utilisation non
            autorisée peut entraîner une violation des droits d’auteur, des droits à l’image, des droits des personnes
            ou de toutes autres réglementations applicables aux communications ou à la publicité.</p>

        <h2 class="m-5">Mise en garde générale</h2>
        <p>L’annonceur ne saurait être responsable des dommages qui pourraient résulter de l’accès ou de l’utilisation
            du site, incluant toutes détériorations ou virus qui pourraient infecter votre équipement informatique ou
            tout autre bien. Bien que l’annonceur s’efforce raisonnablement de mettre à jour les informations précises
            publiées sur le site, l’annonceur ne saurait être tenue pour responsable de toute erreur ou omission.</p>

        <h2 class="m-5">Exclusion de responsabilité et indemnisation</h2>
        <p>L’annonceur ou toute autre partie intervenant en relation avec le site ne saurait être responsable, des
            dommages directs, indirects ou autres, qui pourraient résulter de l’accès ou de l’utilisation du site ou des
            informations y figurant. Vous indemniserez, défendrez et préserverez l’annonceur et ses filiales, ainsi que
            ses administrateurs, dirigeants, salariés, représentants, détenteurs de licences ou quiconque impliqué dans
            la création, production et distribution du site, contre toute demande, responsabilité, frais et dépens
            résultant de votre violation des présentes conditions d’utilisation ou en relation avec votre usage du site.
        </p>

        <h2 class="m-5">Informations personnelles</h2>
        <p>Par information personnelle, on entend « les informations qui permettent, sous quelque forme que ce soit,
            directement ou non, l’identification des personnes physiques auxquelles elles s’appliquent » (Extrait de
            l’article 4 de la loi n° 78-17 du 6 janvier 1978).</p>

        <span>Il s’agit par exemple :</span>
        <ul class="d-flex flex-column">
            <li>d’un nom,</li>
            <li>d’une adresse postale,</li>
            <li>d’un numéro de téléphone,</li>
            <li>d’une adresse électronique.</li>
        </ul>

        <p>La technique qui permet la configuration automatique du site au moment de votre connexion et la présélection
            d’informations est celle des cookies.</p>

        <p>Cela signifie que la configuration du site est liée à votre ordinateur et que donc toutes les personnes
            utilisant votre ordinateur ont un site configuré de façon identique.</p>

        <p>Utilisation de vos données personnelles – Communication à des tiers</p>
        <p>En utilisant ce site, vous consentez à l’utilisation par notre site des données personnelles vous concernant,
            que vous avez communiqué ou qui sont collectées via le fonctionnement du site. Ces données sont nécessaires
            pour vous adresser notamment des newsletters et vous permettre de bénéficier de certains services offerts
            par ce site.</p>

        <p>En vertu de la loi du 6 janvier 1978, vous bénéficiez d’un droit d’accès, de rectification ou d’opposition
            sur les données nominatives collectées qui vous concernent. Ces droits peuvent être exercés en nous
            adressant un mail ou par courrier adressé à l’annonceur.</p>

        <p>Nous vous précisons que nous collectons de manière automatique via le fonctionnement du site, des
            informations concernant notamment les pages du site qui vous intéressent le plus, ceci de manière à établir
            à partir de ces informations des analyses et des statistiques afin de mieux connaître vos souhaits et vos
            centres d’intérêts. Nous pourrons ainsi et sous réserve de ce qui suit, vous adresser des informations
            ciblées en fonction de vos centres d’intérêts. Il se peut que nous utilisions à cet effet des cookies.</p>

        <p>Nous pouvons communiquer, à l’exception de votre adresse e-mail, les données personnelles ainsi collectées à
            tous tiers de notre choix, tels que nos prestataires ou fournisseurs qui concourent à la fourniture des
            services proposés. La communication de ces informations auprès des ces fournisseurs et prestataires peut
            être nécessaire à la réalisation des prestations. Vous pouvez vous opposer expressément à la communication
            de vos données à des tiers, par e-mail et/ou par courrier adressé à l’annonceur.</p>

        <h2 class="m-5">Concernant votre adresse e-mail</h2>
        <p>En nous communiquant votre adresse e-mail, l’annonceur se réserve la possibilité de vous adresser par voie de
            e-mail, des newsletters et toute information concernant nos produits et nos services. Si vous ne souhaitez
            pas recevoir de tels messages, vous pouvez à tout moment vous désabonner en cliquant sur le lien prévu à cet
            effet, présent lors de chaque envoi de newsletter.</p>

        <p>Par ailleurs, nous pourrons transmettre votre adresse e-mail au profit de tiers susceptibles de vous adresser
            par e-mail des messages non sollicités susceptibles de vous intéresser. A tout moment vous pouvez nous
            contacter notamment par voie de e-mail pour nous demander l’arrêt d’une telle communication de votre adresse
            e-mail.</p>

        <p>Conformément au droit français, ces informations pourront être dévoilée par l’annonceur à toute personne
            physique, morale ou entité administrative qui aurait la faculté de l’exiger.</p>

        <p>Enfin, l’annonceur crée à partir des données utilisateurs (informations nominatives ou non) des analyses
            statistiques pour ses propres besoins. Ces données résultant de ces analyses étant agrégées et donc
            totalement anonymes, l’annonceur se permettra éventuellement de les céder ou de les vendre à des tiers.</p>

        <h2 class="m-5">Liens externes</h2>
        <p>L’annonceur propose des liens depuis son site vers d’autres sites affiliés et non-affiliés. Ces sites sont
            indépendants du site. L’annonceur n’édite pas et ne contrôle pas ces sites. Les liens vers tous sites ne
            constituent, en aucun cas, une approbation ou un partenariat entre l’annonceur et ces sites. Dès lors,
            l’annonceur ne saurait être responsable de leurs contenus, leurs produits, leurs publicités ou tous éléments
            ou services présentés sur ces sites. Nous vous rappelons que les sites affiliés ou non-affiliés sont soumis
            à leurs propres conditions d’utilisation et politiques de protection de la vie privée.</p>

        <h2 class="m-5">Droit applicable</h2>
        <p>Le présent site est soumis au droit français.</p>

        <h2 class="m-5">Modification des conditions</h2>
        <p>L’annonceur se réserve le droit de modifier ou de façon plus générale, d’actualiser les présentes conditions
            générales à tout moment et sans préavis. C’est pourquoi nous vous invitons à les consulter régulièrement.
        </p>

        <p>Comment nous contacter si vous avez des questions sur cette charte ?</p>
        <p>Cette charte ayant pour objet de protéger votre vie privée, nous vous remercions de nous faire part de vos
            souhaits et de vos commentaires.</p>

        <p>S’il vous semblait que vos données n’étaient pas traitées selon vos souhaits lors de votre passage sur ce
            site, nous vous remercions de bien vouloir nous l’indiquer. Nous vous répondrons dans les meilleurs délais.
        </p>

        <p>Si dans l’avenir vous ne souhaitez pas être contacté suite à une visite sur ce site, si vous souhaitez
            vérifier, corriger ou mettre à jour une information nominative que vous nous auriez communiquée,
            écrivez-nous.</p>
    </div>
</section>
{% endblock %}
