<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirmation suppression profil</title>
</head>
<body>
     <p> Votre profil a bien été supprimé </p>
    <p>Vous pouvez désormais revenir vers la page d'accueil</p>
</body>
</html>