{% extends 'base.html.twig' %}

{% block title %}Résumé de votre prestation{% endblock %}

{% block body %}
<body>
    <main>
        <div class="container d-flex flex-column justify-content-center">
            <h1>Résumé de votre demande de RDV de prestation énergétique</h1>

            <div class="m-5">
                <p>Votre demande de rendez-vous de prestation énergétique a bien été prise en compte.</p>
                <p>j’ai le plaisir de vous confirmer votre rendez-vous téléphonique dans 1er temps, puis dans un second temps au sein de vos locaux pour une analyse des lieux et un devis.</p>
            </div>
            <div class="m-5">
                <p>J’espère que ces modalités vous conviendront.</p>
                <p>Dans l’attente de vous rencontrer, veuillez recevoir, Madame, Monsieur, l’expression de mes sincères salutations.</p>
            </div>

            <div class="container d-flex flex-column justify-content-center m-5">
                <span><u>L'équipe Fintech Energy</u></span>
                <span class="fst-italic">'Vos économies ont de l'énergie et de l'envie !'</span>
            </div>
        </div>
    </main>
</body>
{% endblock %}
