{% extends 'base.html.twig' %}
{% block title %}Confirmation de votre demande de contact{% endblock %}
{% block body %}

    <body>
    <h1>Confirmation de votre demande de contact</h1>
    <p>
        Madame, Monsieur,

        Suite à notre conversation téléphonique dernière, j’ai le plaisir de vous confirmer notre rendez-vous, (l’heure, date).

        J’ai bien pris note de la date et de l’heure de votre arrivée à (lieu précis), une personne viendra vous chercher (lieu précis) et vous conduira à nos locaux.

        J’espère que ces modalités vous conviendront.

        Dans l’attente de vous rencontrer, veuillez recevoir, Madame, Monsieur, l’expression de mes sincères salutations.
    </p>
    </body>

{% endblock %}