{% extends 'base.html.twig' %}

{% block title %}Confirmation de votre demande de contact{% endblock %}

{% block body %}
<body>
    <main>
        <div class="container d-flex flex-column justify-content-center">
            <h1>Confirmation de votre demande de contact</h1>

            <div class="m-10">
                <p>Votre demande de prise de contact concernant des informations sur nos prestations énergétique a bien été prise en compte.</p>
                <p>Nous vous recontacterons dans les plus brefs délais.</p>
                <p>Dans l’attente de vous rencontrer, veuillez recevoir, Madame, Monsieur, l’expression de mes sincères salutations.</p>
            </div>

            <div class="container d-flex flex-column justify-content-center m-10">
                <span><u>L'équipe Fintech Energy</u></span>
                <span class="fst-italic">'Vos économies ont de l'énergie et de l'envie !'</span>
            </div>
        </div>
    </main>
</body>
{% endblock %}
