{% block body %}
    <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/footer.css') }}">
    <body>
    <h1>Modifier une prestation</h1>
    <span>
        {{ form(editFormPresta) }}
    </span>
    </body>
{% endblock %}