{% extends 'base.html.twig' %}
{% block title %}Mettre à jour une prestation{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">

    <body>

    <h1>Modifier une prestation</h1>

    <span>
        {{ form(editFormPresta) }}
    </span>

    </body>
{% endblock %}