*{
    margin: 0;
    padding: 0;
}
.choice{
    width: 50%;
    font-size: 40px;
    padding: 50px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
}
.boxChoice{
    display: flex;
    justify-content: space-evenly;
}
.part{
    padding: 70px;
}
.prof{
    padding: 70px;
}