*{
    margin: 0;
    padding: 0;
}
.presentation{
    width: 70%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rubriquePrestation{
    margin: 30px;
    padding: 30px;
    border:  1px solid #D3EEE0;
    color: #2F9116;
}
.isolation{
    width: 70%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #5eb5e0;
}
.prestation a{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}