*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.rubriquePrestations{
    width: 50%;
    height: 100px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    border:  1px solid #D3EEE0;
    color: #2F9116;
    align-items: center;
}
.sixprestations{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.myPrestations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imageOperations{
    width: 500px;
    transition: transform .1s;
}
.imageOperations:hover{
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}
.isoP{
    margin: 20px 20px;
    color: #2F9116;
}
.titleItem {
    background-color: #D3EEE0;
    color: #2F9116;
}
.presta{
    display: flex;
    width: 100%;
    justify-content: space-around;
    border: 1px solid #5eb5e0;
}
article > h1{
    text-align: center;
    margin: 30px;
}
article {
    width: 75%;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    position: relative;
}
.prestaTxtBtn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}
.prestaTxtBtn > p {
    margin-bottom: 15px;
}
.prestaTxtBtn > a{
    margin-bottom: 15px;
    text-decoration: none;
    color: white;
    background-color: #179393;
    border: 1px solid #179393;
}
.del{
    background-color: #179393;
    color: white;
}
.modal {
    width: 500px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    background-color: #ECF5F7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;

}
.displayBlock{
    display: block!important;
}
.modal > button{
    text-decoration: none;
    border: none;
}