*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* style HEADER CSS*/

.firstnavHeader{
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ECF5F7;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
nav > ul > li > a {
    text-decoration: none;
    color: #2F9116;
    font-size: 20px;
    font-weight: bold;
}
.slogan{
    width: 70%;
    color: #2F9116;
}
.logoHeader{
    width: 30%;
    margin: 10px;
}
.logoRs > li > a{
    margin: 15px;
}
.secondnavHeader{
    height: 40px;
    background-color: #ECF5F7;
}
.burger {
    width: 70px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    display: none;
    cursor: pointer;
}
.divBurger {
    width: 42px;
    background-color: #2F9116;
    height: 5px;
    margin: 9px;
}
.modalBurger {
    position: absolute;
    padding: 31px;
    background-color: #ECF5F7;
    top: 10%;
    right: 54%;
    width: 234px;
    height: 250px;
    z-index: 1;
    display: none;
}
.ulBurger{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.ulBurger > li {
    margin: 10px;
}
.ulBurger > li > a {
    text-decoration: none;
    color: #2F9116;
}
.displayBlock{
    display: block;!important;
}

/* style FOOTER CSS*/

.firstnavFooter{
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ECF5F7;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
nav > ul > li > a {
    text-decoration: none;
    color: #2F9116;
    font-size: large;
    font-weight: bold;
}
.slogan{
    width: 70%;
    color: #2F9116;
}
.logoFooter{
    width: 30%;
    margin: 10px;
}
.logoRs > li > a{
    margin: 15px;
}
.secondnavFooter{
    background-color: #ECF5F7;
    height: 40px;
}

/* style HOME CSS*/
h1{
    display: flex;
    justify-content: center;
    color: #2F9116;
    font-weight: bold;
    margin: 20px auto;
}
h2{
    display: flex;
    justify-content: center;
    margin: 15px auto;
    color: #2F9116;
}
h3{
    color: #2F9116;
}
.subTitle{
    font-style: italic;
    color: #2F9116;
}
.presentationHome{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.rubriquePrime1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #D3EEE0;
    animation-name: animationsFirst;
    animation-duration: 5s;
}
@keyframes animationsFirst {
     from {
         margin-left: 100%;
         width: 100%;
     }

     to {
         margin-left: 0%;
         width: 100%;
     }
 }
.rubriquePrime2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #D3EEE0;
    animation: 5s ease-in-out animationsBis forwards;
}
@keyframes animationsBis {
    from {
        margin-left: 100%;
        width: 100%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}
.ourJob{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px auto;
}
.ourPrestation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.allcards{
    margin: 15px 0px;
    width: 300px;
}
.buttonPrestations{
    width: 70%;
    margin: 50px 250px;
    display: flex;
    justify-content: flex-end;
}
.buttonPrestations > button{
    border: none;
}
.buttonPrestations > button > a{
    text-decoration: none;
    list-style: none;
    color: white;
}
article{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #B0413E 1px solid;
}
.bandeImage{
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/img_fond/paysage_pomme.jpg");
}
.filtre{
    background-color: rgba(192, 226, 197, 0.418);
}
.fourArticles{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.presentationSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.articleFirst {
    display: inline-flex;
    flex-direction: revert;
    justify-content: center;
}
.articleSecond {
    display: inline-flex;
    flex-direction: revert;
    justify-content: center;
}
.rubriquePara h3 {
    color: #2F9116;
    margin-bottom: 12%;
}
.deroulant{
    display: none;
}
.imageHome{
    transition: transform .1s;
}
.imageHome:hover{
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}
.rubriquePara {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
}
.para1 {
    display: flex;
    text-align: center;
    /*margin: 100px auto;*/
    gap: 20px;
    justify-content: space-between;
}

/* style de PRESTATIONS PLURIEL CSS*/
.rubriquePrestations{
    width: 80%;
    height: 100px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border:  1px solid #D3EEE0;
    color: #2F9116;
    font-size: 50px;
    font-weight: bold;
    animation: 5s ease-in-out animationsThree forwards;
}
@keyframes animationsThree {
    from {
        margin-left: 100%;
        width: 100%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}
.sixprestations{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.myPrestations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imageOperations {
    width: 500px;
    margin: 15px;
    transition: transform .1s;
}
.imageOperations:hover{
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}
.isoP{
    margin: 20px 20px;
    color: #2F9116;
    text-decoration: none;
}
.titleItem {
    color: #2F9116;
}
.titleItem:hover {
    color: #0d6efd;
}
.presta{
    display: flex;
    width: 100%;
    justify-content: space-around;
    border: 1px solid #5eb5e0;
}
article > h1{
    text-align: center;
    margin: 30px;
}
article {
    width: 75%;
    margin: 40px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.prestaTxtBtn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}
.prestaTxtBtn > p {
    margin-bottom: 15px;
}
.prestaTxtBtn > a{
    background-color: #179393;
    color: white;
    text-decoration: none;
    border: 1px solid #179393;
    margin-bottom: 15px;
}
.btnUpdatePresta{
    background-color: #179393;
    color: white;
    text-decoration: none;
    border: 1px solid #179393;
}
.modal {
    width: 500px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    background-color: #ECF5F7;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
}
.displayBlock{
    display: block!important;
}
.modal > button{
    text-decoration: none;
    border: none;
}
.cadragePara1{
    top: 18%;
    position: absolute;
    left: 18%;
}
.cadrageButton1{
    left: 56%;
    position: absolute;
    top: 50%;
}
.cadrageAlink1{
    position: absolute;
    top: 50%;
    left: 27%;
}
/* style de ADD DES PRESTATIONS ADMIN pour 1 PRESTATIONS CSS*/
.formulaireAddPrestation{
    width: 500px;
    display: flex;
    justify-content: center;
    margin: 50px auto;
    padding: 30px 30px;
    background-color: lightgrey;
    border: 5px solid black;
    border-radius: 10px;
}
/* style de UPDATE DES PRESTATIONS ADMIN pour 1 PRESTATIONS CSS*/
.formulaireUpdatePrestation{
    width: auto;
    display: flex;
    justify-content: center;
    margin: 50px auto;
    padding: 30px 30px;
    background-color: lightgrey;
    border: 5px solid black;
    border-radius: 10px;
}
.updateDescriptionField{
    width: 100%;
    height: 200px;
}
#prestation_Valider{
    color: #fff;
    background-color: #0d6efd;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 0.5%;
}

/* style de PRESTATION SINGULIER CSS*/

.presentationPrestation{
    width: 70%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: 4.1s ease-in-out  animationsFourth forwards;
}
@keyframes animationsFourth {
    from {
        margin-left: 100%;
        width: 70%
    }
    to{
        width: 70%;
        margin-left: 15%;
    }
}
.rubriquePrestation{
    margin: 30px;
    padding: 30px;
    border:  1px solid #D3EEE0;
    color: #2F9116;
    font-size: 30px;
    font-weight: bold;
}
.isolation{
    width: 70%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prestation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 1px solid #5eb5e0;
}
.prestation a{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.description:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
}
.description:nth-child(1) img{
    width: 500px;
}
.description:nth-child(1) p{
    margin: 25px;
}
.description:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 25px;
}
.description:nth-child(2) img{
    width: 500px;
}
.description:nth-child(2) p{
    margin: 25px;
}

/* style de CHOICE PART PROF CSS*/

.choice{
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    padding: 50px;
    margin: 40px auto;
    color: #2F9116;
}
.boxChoice{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}
.part{
    padding: 30px 70px 70px 0px;
}
.prof{
    padding: 30px 0px 70px 70px;
}

/* style de FORMULAIRE APPOINTMENT PART - PROF CSS*/

.titleAppointement{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px;
}

.formularAppointment{
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin: 50px auto;
    padding: 30px 30px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: #ECF5F7;
    background-image: url(../img/img_fond/kisspng-poster-banner-country-travel.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/*----BOITE FORMULAIRE MISE EN FORME EN COURS */
/*----GROSSE BOITE-----*/
#part_appointment_prestationaccessupdate {
    display: flex;
    justify-content: space-between;
    /*font-weight: bold;*/
    margin: 2%;
    font-size: 15px;
}
#pro_appointment_prestationaccessupdate {
    display: flex;
    justify-content: space-between;
    /*font-weight: bold;*/
    margin: 2%;
    font-size: 15px;
}
/*-liste déroulant Habitation--*/
.residencyaccessupdateField{
    margin-bottom: 2%;
}
.prestationaccessupdateField > label{
    width: 80%;
    padding: 2px 0;
}
.prestationaccessupdateField > input{
    width: 20%;
    padding: 2px 0;
}
.prestationaccessupdate{
    margin: 10px;
}
.residencyaccessupdate{
    margin: 10px;
}
.firstnameField{
    margin: 10px;
    border-radius:25px;
}
.required{
    margin-top: 20px;
    font-size: 18px;
}
.lastnameField{
    margin: 10px;
    border-radius:25px;
}
.postalAdressField{
    margin: 10px;
    border-radius:25px;
}
.postalCodeField{
    margin: 10px;
    border-radius:25px;
}
.surfaceField{
    margin: 10px;
    border-radius:25px;
}
.mailField{
    margin: 10px;
    border-radius:25px;
}
.phoneField{
    margin: 10px;
    border-radius:25px;
}
.callBackRequestField{
    margin: 10px;
    border-radius:25px;
}
.noteField{
    margin: 10px;
    border-radius:25px;
}
.companyNameField{
    margin: 10px;
    border-radius:25px;
}
.siretField{
    margin: 10px;
    border-radius:25px;
}
#part_appointment_envoyer{
    color: #fff;
    background-color: #0d6efd;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 0.5%;
}
#pro_appointment_envoyer{
    color: #fff;
    background-color: #0d6efd;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 0.5%;
}
/* style de PROFILES ADMIN HANDLER  CSS*/

.rubriqueProfiles{
    width: 50%;
    height: 100px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border:  1px solid #D3EEE0;
    color: #2F9116;
}
.profileAdminUsers{
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
    border: 5px solid black;
    padding: 20px;
    margin: 50px;
    position: relative;
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 80vh;
    align-items: center;
}
.displayBlock{
    display: block!important;
}
.cadragePara{
    top: 18%;
    position: absolute;
    left: 18%;
}
.cadrageButton{
    left: 56%;
    position: absolute;
    top: 50%;
}
.cadrageAlink{
    position: absolute;
    top: 50%;
    left: 27%;
}

/*style VIEW ONE PROFIL CSS*/
.profilOneViewFormular{
    width: 450px;
    background-color: lightgrey;
    border: 5px solid black;
}
.cadrageP{
    top: 18%;
    position: absolute;
    left: 18%;
}
.cadrageB{
    left: 26%;
    position: absolute;
    top: 50%;
}
.cadrageA{
    position: absolute;
    top: 50%;
}
.mainOneProfil{
    height: 76vh;
    width: 100%;
}
/* style de CONTACT FORMULAIRE CSS*/
.titleContact{
    font-weight: bold;
}
.contact{
    display: flex;
    justify-content: center;
    border: 5px solid black;
    border-radius: 10px;
    margin: 50px 200px;
    background-color: #ECF5F7;
    background-image: url(../img/img_fond/kisspng-poster-banner-country-travel.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.formulaireContact{
    display: flex;
    justify-content: right;
    margin: 50px 150px;
    padding: 30px 30px;
    background-color: #ECF5F7;
    border: 5px solid black;
    border-radius: 10px;
    background-image: url(../img/img_fond/kisspng-poster-banner-country-travel.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.googleMap{
    width: 100%;
    margin: 100px 100px;
}
.contactFirstnameField{
    margin: 10px;
    border-radius: 25px;
}
.contactLastnameField{
    margin: 10px;
    border-radius: 25px;
}
.contactMailField{
    margin: 10px;
    border-radius: 25px;
}
.contactMessageField{
    margin: 10px;
    border-radius: 25px;
}
.contactPhoneField{
    margin: 10px;
    border-radius: 25px;
}
#contact_formular_envoyer{
    color: #fff;
    background-color: #0d6efd;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 0.5%;
}
/* style de UPDATE ALL PROFILES FORMULAIRE CSS*/
.formulaireUpdateAllProfiles{
    width: 500px;
    margin: 50px auto;
}
.fieldUpdateAllProfiles{
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 125px auto;
    padding: 30px 30px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: lightgrey;
}
/* style de UPDATE ONE PROFILE FORMULAIRE CSS*/
.fieldUpdateOneProfile{
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 110px auto;
    padding: 30px 30px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: lightgrey;
}

/* style de FORMULAIRE LOGIN CSS*/
.formulaireLogin{
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 175px auto;
    padding: 30px 30px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: lightgrey;
}
/* style de FORMULAIRE REGISTER CSS*/
.fieldRegisterProfile{
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px auto;
    padding: 30px 30px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: lightgrey;
}
#scroll_to_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 50px;
}
#scroll_to_top img {
    width: 35px;
}

/*** style MEDIA QUERY RESPONSIVE CSS ***/

/*  RESPONSIVE HEADER */
@media screen and (max-width: 1280px){
    .slogan{
        font-size: 12px;
        text-align: center;
    }
}
@media screen and (max-width: 760px){
    .slogan{
        display: none!important;
    }
    .secondnavHeader{
        display: none;
    }
    .burger{
        display: block!important;
    }
}
/*  RESPONSIVE  FOOTER */
@media screen and (max-width: 760px) {
    .firstnavFooter {
        display: flex;
        align-items: center;
    }
    .secondnavFooter{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .secondnavFooter ul li a{
        font-size: 10px;
    }
}
/*  RESPONSIVE  HOME */
@media screen and (max-width: 1280px) {
    article{
        padding: 0;
        margin: 0;
        border: none
    }
}
@media screen and (max-width: 760px) {
    h1{
        font-size: 20px;
        text-align: center;
    }
    h2{
        font-size: 15px;
        text-align: center;
    }
    h3{
        font-size: 16px;
        margin: 10px auto;
    }
    .presentation {
        margin: 0px auto;
    }
    article{
        padding: 0;
        margin: 0;
    }
    .eachArticle .para1{
        display: none;
    }
    .eachArticle.active .para1{
        display: block;
    }
    .eachArticle{
        height: 320px;
        overflow: hidden;
        position: relative;
    }
    .eachArticle.active{
        height: auto;
    }
    .deroulant{
        position: absolute;
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: black;
        text-align: center;
        margin: 0;
        top: 15px;
        right: -10px;
    }
    .rotate{
        transform: rotate(180deg)!important;
    }
    .articleFirst{
        display: flex;
        flex-direction: column;
    }
    .articleSecond{
        display: flex;
        flex-direction: column-reverse;
    }
    .rubriquePara{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imageHome{
        width: 200px;
        transition: none;
    }
    .ourJob{
        margin: 0px auto;
    }
    .ourPrestation{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .buttonPrestations{
        margin: 10px auto;
        display: flex;
        justify-content: center;
    }
}

/*  RESPONSIVE PRESTATIONS PLURIEL*/
@media screen and (max-width: 1280px){
    .presta{
        display: flex;
        flex-direction: column;
    }
    .rubriquePrestations{
        text-align: center;
        font-size: 35px;
    }
    .sixprestations{
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 860px){
    .presta{
        display: flex;
        flex-direction: column;
    }
    .rubriquePrestations{
        text-align: center;
        font-size: 25px;
    }
    .sixprestations{
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 760px) {
    .presta{
        display: flex;
        flex-direction: column;
    }
    .rubriquePrestations{
        text-align: center;
        font-size: 25px
    }
    .sixprestations{
        display: flex;
        flex-wrap: wrap;
    }
    .imageOperations{
        width: 80%;
    }
    .pPrestations{
        margin-bottom: 1rem;
        padding: 4%;
        font-size: 14px;
        text-align: center;
    }
    .adminControl{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* style de PRESTATION SINGULIER CSS*/

@media screen and (max-width: 1280px) {
    .rubriquePrestation{
        align-items: center;
        text-align: center;
        font-size: 25px;
    }
    .description:nth-child(1) {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .description:nth-child(2) {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
@media screen and (max-width: 860px) {
    .rubriquePrestation{
        align-items: center;
        text-align: center;
        font-size: 25px;
        margin: 0 auto;
    }
    .description:nth-child(1){
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .description:nth-child(1) img{
        width: 80%;
    }
    .description:nth-child(1) p{
        margin: 25px;
        font-size: 15px;
    }
    .description:nth-child(2){
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .description:nth-child(2) img{
        width: 80%;
    }
    .description:nth-child(2) p{
        margin: 15px;
    }
}

/* RESPONSIVE ADD DES PRESTATIONS ADMIN pour 1 PRESTATIONS CSS*/
@media screen and (max-width: 1280px) {
    .formulaireAddPrestation {
        width: auto;
    }
}
/* RESPONSIVE UPDATE DES PRESTATIONS ADMIN pour 1 PRESTATIONS CSS*/
@media screen and (max-width: 1280px) {
    .formulaireUpdatePrestation {
        width: auto;
    }
    .updateDescriptionField{
        width: 100%;
    }
}

/*  RESPONSIVE PROFILES ADMIN HANDLER */
@media screen and (max-width: 1280px) {
    .rubriqueProfiles {
        align-items: center;
        text-align: center;
        font-size: 25px;
    }
}
@media screen and (max-width: 760px) {
    .fieldUpdateAllProfiles {
        width: auto;
    }
}
/*  RESPONSIVE VOTRE PROFIL VIEW ONE PROFIL*/
@media screen and (max-width: 760px) { /* A CORRIGER LE RESPONSIVE EN GALAXY FOLD 280px EN COURS */
    .grandProfilOneViewFormular  {
        width: auto;
    }
}
@media screen and (max-width: 1280px) {
    .mainOneProfil{
        height: auto;
    }
    .rubriqueProfile {
        align-items: center;
        text-align: center;
        font-size: 25px;
    }
}
@media screen and (max-width: 760px) {
    .fieldUpdateOneProfile {
        width: auto;
    }
}
/*  RESPONSIVE CHOICE FORMULAIRE PART - PROF */
@media screen and (max-width: 860px) {
    .boxChoice{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .choice{
        font-size: 25px;
        text-align: center;
    }
    .part{
        padding: 0;
    }
    .prof{
        padding: 0;
    }
}
/*  RESPONSIVE FORMULAIRE APPOINTMENT PART - PROF */
@media screen and (max-width: 860px) {
    .formularAppointment {
        width: 90%;
    }
    #part_appointment_prestationaccessupdate {
        display: flex;
        /*font-weight: bold;*/
        flex-wrap: wrap;
        margin: 2%;
        font-size: 15px;
    }
    #pro_appointment_prestationaccessupdate {
        display: flex;
        flex-wrap: wrap;
        /*font-weight: bold;*/
        margin: 2%;
        font-size: 15px;
}
}
/*  RESPONSIVE FORMULAIRE CONTACT */
@media screen and (max-width: 760px) {
    .contact {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .formulaireContact{
        margin: 10px auto;
        border: none;
    }
    .googleMap{
        margin: 0 auto;
    }
}
@media screen and (max-width: 1280px) {
    .contact{
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .formulaireContact{
        margin: 10px auto;
    }
    .googleMap{
        margin: 0 auto;
    }
}
/*  RESPONSIVE AGENCES */
@media screen and (max-width: 760px) {
    .agencies{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }
    .agency2{
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        margin: 0 auto;
    }
    .agency4{
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        margin: 0 auto;
    }
    .map{
        width: auto;
    }
}
/* style de AIDE RENOVATION CSS*/
@media screen and (max-width: 1280px) {
    .imgHelpRenov{
        display: none;
    }
    .imgHelpRenov1{
        width: 446px!important;
    }
    .titleResponsive{
        margin: 15px auto!important;
    }
}
@media screen and (max-width: 760px) {
    .tableFinance{
        display: none!important;
    }
    .titleResponsive{
        margin: 13px auto!important;
    }
}
@media screen and (max-width: 460px) {
    .imgHelpRenov{
        display: none;
    }
    .imgHelpRenov1{
        width:360px!important;
    }
    .titleResponsive{
        margin: 10px auto!important;
    }
}
/* style de FORMULAIRE REGISTER CSS*/
@media screen and (max-width: 760px) {
.fieldRegisterProfile {
        width: auto;
    }
}
/* style de FORMULAIRE LOGIN CSS*/
@media screen and (max-width: 760px) {
    .formulaireLogin {
        width: auto;
    }
}

