{% extends 'base.html.twig' %}
{% block title %}Formulaire rendez-vous{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/formularAppointment.css') }}">

    <body>
        <article>

            <div class="titleAppointement">
                <h1>Veuillez remplir le formulaire d'enregistrement de l'opération énergétique et prise de RDV pour {{ status }}</h1>
            </div>

            <div class="formularAppointment">
                {{ form(formAppointment) }}
            </div>

        </article>
    </body>

{% endblock %}
