<body>
    <div class="firstnav">
        <span class="logo"><img  src="assets/img/logomaisoncdc.jpg" alt=""></span>
        <p class="slogan">Économisez de l'énergie, votre argent...et du temps</p>
    </div>
    <nav>
        <ul>
            <li>Information</li>
            <li>Agences</li>
            <li>Service client</li>
            <li>Mention légale</li>
        </ul>
    </nav>
</body>